ENV=LOCAL
VERSION=0.1
DATABASE_URL=<POSTGRES_DSN>
DB_DBNAME=<POSTGRES_DSN>
DB_USERNAME=<POSTGRES_DSN>
DB_PASSWORD=<POSTGRES_DSN>
DB_PORT=<POSTGRES_DSN>
SECRET_KEY=<SECRET_KEY>
ACCESS_TOKEN_EXPIRE_DAYS=1
CELERY_BROKER_DSN=<REDIS_DSN>
# e.g. db+postgres://test:test@localhost/core
CELERY_BACKEND_DSN=<POSTGRES_DSN>
